@import "boilerplate2";
@import "colors";
@import "typography";
@import "code";
@import "background";

html {
  background: url($bkg_img) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  //background-color: $base03;
}

::-moz-selection { background: $magenta; text-shadow: none; }
::selection { background: $magenta; text-shadow: none; }

#main {

  color: $green;
  font-size: 14px;
  //padding-left: 25px;

  a, & a:visited, & a:hover {
    text-decoration: none;
    color: $blue;
  }


  h1 {

    font-size: 30px;
    color: $yellow;
  }
  
  h2 {
    color: $solar-magenta;
  }

  h3 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 5px;
    color: $yellow;
  }

  #personal {
    margin-bottom: 20px;
    margin-top: 50px;

    ul {
      list-style-type: none;

      li {
        margin: 10px 0;
      }
    }
  }

  .social {
    float:left;
    width: 50%;
    padding: 0;
  }

  .toolbox {
    float: left;
    width: 50%;
    padding: 0;
  }

}

#main nav[role=pagination] {
  
  margin-top: 30px;

  a {
    margin-right: 15px;
    background-color: $solar-magenta;
    padding: 3px;

    &, &:visited, &:hover {
      text-decoration: none;
      color: $base2;
    }
  }
}

#container {
  margin-top: 70px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font: 16px Source Code Pro', sans-serif';

  #post & {
    margin-top: 30px;
  }

  strong {
    color: $solar-green;
  }

  div.image {
    float: left;
  }

  nav {
    margin-top: 10px;
  }
}

header {

  #name a {
    background-color: $solar-green;
    font-size: 3em;
    font-weight: bold;
    padding-left: 10px;
  }
  
  #pagelink {
    font-size: 1.5em;
    color: $solar-orange;
    &:visited {
      color: $solar-orange;
    }
  }

  a {
    font-size: 1em;
    text-decoration: none;
    color: $base2;

    #post & {
      font-size: 1.2em;
      margin-bottom: 30px;
    }

    &:visited {
      color: $base2;
    }
  }

  h1 {
    color: #B58900;
  }

  h2 {
    font-size: 14px;
    color: $orange;
    margin-top: -15px;
  }
}

article {
  color: $base0;
  line-height: 18px;
  font-size: 15px;

  p {
    margin-top: 0px;
  }

  a, & a:visited, & a:hover {
    text-decoration: none;
    
  }


  h1, & h2, & h3 {
    color: $yellow;
  }

  h1 { font-size: 24px; }
  h2 {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 5px;
  }

  h4 {
    color: $solar-red;
    font-size: 14px;
    margin: 0;
    font-weight: normal;
  }

  .article-signature {
    float: right;
    color: $violet;
  }

  strong {
    font-weight: normal;
  }

  .article-read-more {
    font-size: 14px;
    line-height: 20px;

    p {
      margin: 0px;
    }
    
    a, & a:visited, & a:hover {
      color: $base03;
    }
    
  }

  .article-read-more time {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    color: $base2;
  }

}

footer {
  color: $base01;
  font-size: 12px;
  margin: 40px 0 0 0;
  
  a {
    text-decoration: none;
    color: $solar-orange;

    &:visited {
      color: $solar-orange;
    }

    &:hover {
      color: $solar-orange;
    }
  }

}

.sharing {
  margin-top: 20px;
}

#links {
  // position: absolute;
  // bottom: 0;
  padding-top: 10px;
  //height: 74px;
  width: 300px;
  //background-color: RGBA(4,43,54,0.2);
}

#soclist {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  //margin: 0 auto;
  //width: 960px;

  li {
    display: inline;
  }
}
