<div id="personal">
  <ul class="social">
      <li>I put my code on <a href="https://github.com/{{ site.github_user }}">GitHub</a></li>
      <li>I hang mostly on <a href="https://plus.google.com/{{ site.googleplus_id }}">Google+</a> and <a href="https://twitter.com/{{ site.twitter_user }}">Twitter</a></li>
      <li>I'm a shameless <a href="http://www.pinterest.com/{{ site.pinterest_user }}" title="Pinterest">Pinner</a></li>
      <li>I work at <a href="{{ site.joburl }}">{{ site.job }}</a> </li>
  </ul>
  <ul class="toolbox">
    <li>You can grab my <a href="#">RSS Feed</a></li>
  </ul>
  <br style="clear:both;">

</div>
