<div id="personal">
  
  <div id="links">
    <div id="linkbkg"></div>
    <ul id="soclist">
      <li><a href="mailto:me@toddwaits.org"><img class="soc" src="{{root_url}}/images/soc/email.png" /></a></li>
      <li><a href="http://www.facebook.com/toddwaits"><img class="soc" src="{{root_url}}/images/soc/facebook.png" /></a></li>
      <li><a href="https://twitter.com/toddwaits"><img class="soc" src="{{root_url}}/images/soc/twitter.png" /></a></li>
      <li><a href="http://www.instagram.com/darkyodeler"><img class="soc" src="{{root_url}}/images/soc/instagram.png" /></a></li>
      <li><a href="http://www.linkedin.com/profile/view?id=13148269"><img class="soc" src="{{root_url}}/images/soc/linkedin.png" /></a></li>
      <li><a href="http://www.goodreads.com/user/show/196082-todd"><img class="soc" src="{{root_url}}/images/soc/goodreads.png" /></a></li>
      <li><a href="http://www.last.fm/user/darkyodeler"><img class="soc" src="{{root_url}}/images/soc/lastfm.png" /></a></li>
      <li><a href="http://pinterest.com/darkyodeler"><img class="soc" src="{{root_url}}/images/soc/pinterest.png" /></a></li>
    </ul>
  </div>
  
</div>