{% if index %}
  <div class="article-read-more">
    <p class="meta">
      {% include post/date.html %}{{ time }}
      <a style="color: #002b36" href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
    </p>
  </div>
{% else %}
  <h1 class="article-title">{{ page.title | titlecase }}</h1>
  <h3>{% include post/date.html %}{{ time }}</h3>
  <div class="article-content">{{ content }}</div>
  {% include post/sharing.html %}
  <a id="return" href="{{root_url}}/">&larr; Return Home</a>
  {% if site.disqus_short_name and page.comments != false %}
    <section>
      <h1>Comments</h1>
      <div id="disqus_thread">{% include post/disqus_thread.html %}</div>
    </section>
  {% endif %}
{% endif %}
